@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@400;500;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #333;
  --green: rgb(0, 46, 37);
  --grey1: rgb(107, 113, 119);
  --grey2: rgb(255, 255, 255);
  --grey3: rgb(251, 247, 237);
  --grey4: #262626;
  --peach: rgb(244, 163, 132);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

/*
================
Header
==================
*/
.header {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--grey3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.top-nav {
  background-color: var(--green);
  font-size: 1.3rem;
  color: var(--white);
}

.top-nav div {
  justify-content: space-between;
  height: 4rem;
  line-height: 4rem;
}

.top-nav a {
  color: var(--white);
  padding: 0 0.5rem;
}

/* 
  =================
  Navigation
  =================
*/
.navigation {
  height: 6rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}

.nav-center {
  justify-content: space-between;
}

.nav-center .logo {
  font-family: "Alfa Slab One", cursive;
}

.nav-list .icons {
  display: none;
}

.nav-center .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-center .nav-link {
  font-size: 1.8rem;
  padding: 1rem;
}

.nav-center .nav-link:hover {
  color: var(--green);
}

.nav-center .hamburger {
  display: none;
  font-size: 2.3rem;
  color: var(--black);
  cursor: pointer;
}
/* Icons */
.icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #555;
  position: relative;
}

.icon:not(:last-child) {
  margin-right: 0.5rem;
}

.icon span {
  position: absolute;
  top: 3px;
  right: -3px;
  background-color: var(--peach);
  color: var(--grey2);
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: 500;
  height: 2rem;
  width: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    top: 12%;
    left: -35rem;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 100%;
    width: 0%;
    line-height: 4rem;
    max-width: 30rem;
    z-index: 100;
    transition: all 300ms ease-in-out;
  }

  .nav-list.open {
    left: 0;
    width: 100%;
  }

  .nav-list .nav-item {
    margin: 0 0 0.5rem 0;
    width: 100%;
  }

  .nav-list .nav-link {
    font-size: 1.7rem;
    color: var(--black);
  }

  .nav-center .hamburger {
    display: block;
    color: var(--black);
    font-size: 3rem;
  }

  .icons {
    display: none;
  }

  .nav-list .icons {
    display: flex;
  }

  .top-nav ul {
    display: none;
  }

  .top-nav div {
    display: column;
    align-items: center;
    justify-content: space-around;
    height: 4.5rem;
  }
}

@media only screen and (max-width: 425px) {
  .nav-center .logo {
    font-size: 1.2rem;
  }
  .nav-list {
    top: 11%;
    max-width: 22rem;
    line-height: 4rem;
  }
  .nav-list .nav-link {
    font-size: 1.5rem;
  }
  .nav-list li i {
    font-size: 2.2rem;
  }
  .nav-list li span {
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    top: 1px;
    right: -1px;
  }
  .top-nav div {
    justify-content: space-between;
    height: 4rem;
    font-size: 1rem;
  }
  .top-nav div span {
    display: none;
  }
}
/* 
=================
Hero
=================
*/
.hero,
.hero .glide__sildes {
  background-color: var(--grey3);
  height: 800px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.hero .glide__bullet {
  background-color: var(--green);
  width: 1.2rem;
  height: 1.2rem;
}

.hero .glide__arrow {
  padding: 1.5rem 1.7rem;
  opacity: 0;
  border: none;
  background-color: var(--green);
  transition: all 0.5s ease-in-out 0.2s;
}

.hero .glide__arrow:hover {
  background-color: var(--grey4);
}

.glide__arrow--left {
  left: 20rem;
}

.glide__arrow--right {
  position: absolute;
  right: 20rem;
}

.hero:hover .glide__arrow {
  opacity: 1;
}

.hero:hover .glide__arrow--left {
  left: 23rem;
}

.hero:hover .glide__arrow--right {
  right: 23rem;
}

.hero .glide__arrow svg {
  height: 1.8rem;
  width: 1.8rem;
  fill: var(--grey3);
}

.hero .glide__arrow {
  border-radius: 50%;
}

.hero .center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero .left {
  position: absolute;
  top: 60%;
  left: 20%;
  z-index: 999;
  transition: all 2000ms ease-in-out;
}

.hero .left span {
  border-bottom: 1px solid black;
  font-weight: 500;
}

.hero .left p {
  margin: 0 0 1rem;
}

.hero .left .hero-btn {
  display: inline-block;
  background-color: var(--green);
  color: var(--white);
  padding: 1rem 3rem;
  margin: 1rem 0;
}

.hero .right {
  height: 100%;
  text-align: center;
}

.hero .right img {
  width: 100%;
  height: 100vh;
  z-index: -999;
  object-fit: cover;
}

@media only screen and (max-width: 1280px) {
  .hero:hover .glide__arrow--left {
    left: 7rem;
  }
  .hero:hover .glide__arrow--right {
    right: 7rem;
  }
}
@media only screen and (max-width: 1024px) {
  .hero .left {
    top: 60%;
    left: 1%;
  }
  .hero .left .hero-btn {
    padding: 1rem 2.5rem;
    margin: 0.5rem 0;
  }
  .hero:hover .glide__arrow--left {
    left: 7rem;
  }
  .hero:hover .glide__arrow--right {
    right: 7rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero:hover .glide__arrow--left {
    left: 3rem;
  }
  .hero:hover .glide__arrow--right {
    right: 3rem;
  }
}
@media only screen and (max-width: 425px) {
  .hero .left {
    position: absolute;
    top: 50%;
    left: 20%;
  }
}

/*
============================
Main : Advert
============================
*/
.section {
  padding: 2rem 0 2rem 0;
  overflow: hidden;
}

.advert-center {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  margin: auto;
  padding: 0 3rem;
}

.advert-box {
  max-width: 38rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.advert-box:not(:last-child) {
  margin-right: 3rem;
}

.advert-box img {
  width: 36.5rem;
  height: 100%;
  margin: auto;
  object-fit: cover;
  transition: all 2s ease;
}

.advert-box .ad-box:hover img {
  transform: scale(1.1);
}

.advert-box .content {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grey3);
  opacity: 0.8;
  width: 30rem;
  height: 6rem;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
  text-shadow: 5px 5px 0px rgba(37, 59, 112, 0.2);
}

.advert-box .content h4 {
  font-weight: 500;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1200px) {
  .advert-box img {
    width: 30rem;
  }
}

@media only screen and (max-width: 967px) {
  .advert-box img {
    width: 25rem;
  }
}

@media only screen and (max-width: 768px) {
  .advert-box .content {
    bottom: 50%;
    left: 50%;
    width: 20rem;
    height: 4rem;
    line-height: 2rem;
    font-size: 1.2rem;
    text-shadow: 3px 3px 0px rgba(37, 59, 112, 0.2);
  }
}

@media only screen and (max-width: 425px) {
  .section {
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
  }
  .section .advert-center {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .advert-box {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .advert-box:not(:last-child) {
    margin-right: 0;
  }
  .advert-box .content {
    bottom: 40%;
    left: 50%;
  }
}
/*
==========================
Products : New Arrrivals
==========================
*/
.section.new-arrival {
  padding-top: 1rem;
}
.title {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
}

.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -37%;
  transform: translate(-50%, -50%);
  background-color: rgb(131, 128, 129);
  width: 50%;
  height: 0.1rem;
  z-index: 1;
}

.product-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.product-item {
  position: relative;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.product-thumb img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  transition: all 500ms linear;
}

.product-info {
  padding: 1rem;
  text-align: center;
}

.product-info span {
  display: inline-block;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}

.product-info a {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: all 300ms linear;
}

.product-info a:hover {
  color: var(--green);
}

.product-item .icons {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.product-item .icons li {
  background-color: var(--white);
  text-align: center;
  padding: 0.8rem 1.4rem;
  font-size: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms ease-out;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}

.product-item .icons .bx {
  padding: 0;
  margin: 0;
}

.product-item .icons li:first-child {
  transition-delay: 0.1s;
}
.product-item .icons li:nth-child(2) {
  transition-delay: 0.2s;
}
.product-item .icons li:nth-child(3) {
  transition-delay: 0.3s;
}

.product-item:hover .icons li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.product-item .icons li:not(:last-child) {
  margin-right: 0.5rem;
}

.product-item .icons li:hover {
  background-color: var(--peach);
  color: white;
}

.product-item .overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: -1;
  width: 100%;
}

.product-item .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}

.product-item:hover .overlay::after {
  visibility: visible;
  opacity: 1;
}

.product-item:hover .product-thumb img {
  transform: scale(1.1);
}

.product-item .notification {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: rgb(244, 163, 132);
  color: white;
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
  z-index: 2;
}

@media only screen and (max-width: 567px) {
  .product-center {
    max-width: 100%;
    padding: 0 0.3rem;
  }
  .product-info a,
  .product-info h4 {
    font-size: 1.4rem;
    margin: 0;
  }
  .product-item {
    width: 40%;
    margin-bottom: 3rem;
  }
  .product-item img {
    height: 20rem;
  }
  .product-item .icons li {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 425px) {
  .title {
    margin-bottom: 1rem;
  }
  .title h1 {
    font-size: 2rem;
  }
  .title h1::after {
    left: 50%;
    bottom: -61%;
  }
  .title p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .product-center {
    margin-top: 1rem;
  }
  .product-info a,
  .product-info h4 {
    font-size: 1.1rem;
    display: inline-flex;
  }
}
@media only screen and (max-width: 320px) {
  .title p {
    font-size: 1.2rem;
  }
}
/*
======================
Banner
======================
*/
.banner {
  position: relative;
  background-color: var(--grey3);
  height: 40rem;
}

.banner .left {
  position: relative;
  z-index: 1;
  text-align: center;
  top: 20%;
}

.banner .right {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.banner h1 {
  font-size: 5.4rem;
  color: var(--black);
}

.banner .btn {
  display: inline-block;
  margin-top: 2rem;
  background-color: var(--green);
  color: white;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  .banner {
    height: 35rem;
  }
  .banner .left {
    top: 30%;
  }
  .banner h1 {
    font-size: 3.5rem;
  }
}
/* 
==========================
Contact
==========================
 */
.contact {
  background-color: var(--white);
  color: var(--black);
  padding: 5rem 5rem;
}

.contact .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contact .row span {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.contact .row .col h2 {
  margin-bottom: 1.5rem;
}

.contact .row .col p {
  width: 90%;
  margin-bottom: 2rem;
}

.contact form div {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.contact form input {
  font-family: "Roboto", sans-serif;
  text-indent: 2rem;
  width: 100%;
  padding: 1.5rem 0;
  border: none;
  box-shadow: 1px 2px 3px 1px rgb(107, 113, 119);
}

.contact form a {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--green);
  color: white;
  padding: 1.2rem 3rem;
}

@media only screen and (max-width: 996px) {
  .contact {
    padding: 3rem 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .contact .row {
    grid-template-columns: 1fr;
    gap: 1rem 0;
  }

  .contact form div {
    width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .contact {
    padding: 3rem 2rem;
  }
}
/*
======================
Footer
======================
*/

.footer {
  background-color: var(--grey4);
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-center span {
  margin-right: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--white);
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: var(--grey1);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: var(--grey2);
}

.footer-center div {
  color: var(--grey3);
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer .payment-methods {
  margin-top: 2rem;
}

@media only screen and (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
/* 
=================
Popup
=================
*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: 0.3s;
  transform: scale(1);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  margin: 0 auto;
  height: 55rem;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: var(--white);
}

.popup-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem;
  background-color: var(--green);
  border-radius: 50%;
  cursor: pointer;
}

.popup-close {
  font-size: 3rem;
  color: white;
}

.popup-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img-container {
  width: 100%;
  overflow: hidden;
}

.popup-img-container img.popup-img {
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.right-content {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.right-content h1 {
  font-size: 4rem;
  color: #000;
  margin-bottom: 1.6rem;
}

.right-content h1 span {
  color: var(--green);
}

.right-content p {
  font-size: 1.6rem;
  color: #555;
  margin-bottom: 1.6rem;
}

.popup-form {
  width: 100%;
  padding: 1rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  background-color: var(--green);
  color: white;
  font-size: 1.8rem;
  border: none;
}

.popup-form::placeholder {
  color: white;
}

.popup-form:focus {
  outline: none;
}

.right-content a:link,
.right-content a:visited {
  display: inline-block;
  padding: 1rem 5rem;
  font-weight: 700;
  color: var(--green);
  background-color: var(--grey2);
  border: 1px solid var(--grey1);
  box-shadow: 1px 2px 3px 1px rgb(0, 46, 37);
  transition: 0.3s;
}

.right-content a:hover {
  background-color: var(--green);
  border: 1px solid var(--grey2);
  color: var(--white);
}

.hide-popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .right-content {
    width: 100%;
  }

  .right-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 998px) {
  .popup-right {
    width: 100%;
  }

  .popup-left {
    display: none;
  }

  .right-content h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .right-content h1 {
    font-size: 4rem;
  }

  .right-content p {
    font-size: 1.6rem;
  }

  .popup-form {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }

  .goto-top:link,
  .goto-top:visited {
    right: 5%;
    bottom: 5%;
  }
}

@media only screen and (max-width: 568px) {
  .popup-right {
    padding: 0 1.6rem;
  }

  .popup-content {
    height: 35rem;
    width: 90%;
    margin: 0 auto;
  }

  .right-content {
    width: 100%;
  }

  .right-content h1 {
    font-size: 3rem;
  }

  .right-content p {
    font-size: 1.4rem;
  }

  .popup-form {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }

  .right-content a:link,
  .right-content a:visited {
    padding: 1.5rem 3rem;
  }

  .popup-close {
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
  }
}
